@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

/* VARIABLES */
$black: #000;
$white: #fff;
$yellow: #f3ff65;
$purple: #6248ff;
$theme-purple: #e4dfff;
$summary-color: #19191b;
$theme-color: #f35e60;
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;
/* ESTILOS GENÉRICOS */
* {
    margin: 0 auto;
    font-family: $roboto;
    box-sizing: border-box;
}
body { font-family: $roboto; }
a { text-decoration: none; }
img, video { max-width: 100%; }
img { height: auto; }
strong { font-weight: 700; }
.ec_visit_pixel { position: absolute; }

/* HELPERS */
.row {
    display: flex; 
    flex-direction: row;
    &--text {
        justify-content: flex-end;
    }
}
.block {display: block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.relative {position: relative;}
.margin {
    &__auto {margin: 0px auto}
    &__text {
        &--paragraph {margin-bottom: 50px;}
        &--question {margin-bottom: 20px;}
        &--answer {margin-bottom: 60px;}
        &--block {margin-bottom: 80px;}
    }
    &__block {margin-bottom: 120px;}
    &__middle-block { //Bloques intermedios
        margin-bottom: 100px;
    }

    //Top
    &-top {
        &__block, &__block-two {padding-top: 120px;}
        &__block-one {padding-top: 80px;}
        &__caption {margin-top: 24px;}
    }
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* HEADER */
.header {
    position: relative;
    width: 100%;
    height: 100vh;

    //Header Content
    &__content {
        width: 100%;
        height: 100%;
        background: url(https://www.ecestaticos.com/file/c7afb65149f06d71808ed44a5fdc73a1/1620750142-apertura-2560.jpg)no-repeat center center;
        background-size: cover;
    }

    //Logo Vanitatis
    &__logo {
        position: absolute;
        top: 20px;
        width: auto;
        height: auto;
        left: 20px;
        z-index: 100;        
    }
    
    &__title {
        position: absolute;
        left: 12%;
        bottom: 8%;

        width: 555px;

        font-size: 88px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.84;
        letter-spacing: normal;
        text-align: right;
        color: $yellow;
        text-transform: uppercase;
    }

    &__subtitle {
        position: absolute;
        top: 8.5%;
        right: 13.5%;

        width: 172px;

        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.8;
        letter-spacing: normal;
        text-align: left;
        color: $purple;
        text-transform: uppercase;
    }

    &__firstCaption {
        position: absolute;
        top: 8.5%;
        left: 25%;

        width: 40%;
        min-width: 270px;
        max-width: 430px;
        height: 20%;
        min-height: 155px;
        max-height: 246px;
    }

    &__secondCaption {
        position: absolute;
        top: 32%;
        left: 20%;

        width: 40%;
        min-width: 270px;
        max-width: 430px;
        height: 20%;
        min-height: 155px;
        max-height: 246px;
    }
}

/* ASIDE > SOCIAL NETWORKS */
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #fff;
        color: $black;
        transition: color .4s;
        &:hover {color: $summary-color;}
    }
}

.logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}

/* CONTENIDO */
section {
    width: 100%;
    height: auto;
}
    
//Contenedores
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    //Contenedores padre
    &--main {
        margin: 0 auto;
        max-width: 1294px;
    }

    &--full-width {
        width: 100%;
        height: auto;

        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */

        //Solo para vídeos
        margin-bottom: -4px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &--custom {
        position: relative;
        margin: 0 auto;
        padding-bottom: 100px; //Aquí en vez de con las propiedades de margen
        &-first {
            width: 100%;
            max-width: 620px;
        }
        &-second {
            width: 100%;
            max-width: 620px;
        }
        &-third {
            width: 100%;
            max-width: 1162px;
        }
        &-fourth {
            width: 100%;
            max-width: 1294px;

            display: flex;
            justify-content: space-between;

            div {
                width: 48%;
            }

            &-one {
                display: flex;
                flex-direction: column;
            }
            &-two {
                margin-top: 90px;
            }
        }
        &-fifth {
            width: 100%;
            max-width: 972px;

            display: flex;
            justify-content: space-between;

            &-one {
                margin-top: 210px;
            }
            &-two {
                display: flex;
                flex-direction: column;
            }
        }
        &-sixth {
            width: 100%;
            max-width: 1070px;
        }
    }

    //Contenedores hijo
    &--authors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        
        width: 1056px;
        margin-left: 180px;
        padding-top: 24px;
        padding-bottom: 140px;
    }
    
    &--text {
        width: 600px;
        margin-right: 184px;
    }

    &--summary {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 32px;
        letter-spacing: normal;
        text-transform: uppercase;

        text-align: right;
        position: absolute;

        opacity: 0;
        visibility: hidden;
        transition: opacity 1s, visibility 1s;    

        &--mobile {display: none;}
        &.visible {
            opacity: 1;
            visibility: visible;
        }

        &-first {            
            width: 300px;            
            transform: translate(-108px, -75px);
        }
        &-second {
            position: relative;
            width: 320px;
            margin-bottom: 80px;
        }
        &-third {
            width: 380px;
            transform: translate(130px, -110px);
        }
        &-fourth {
            position: relative;
            width: 360px;
            align-self: flex-end;
            margin-right: 40px;
            margin-bottom: 80px;
        }
        &-fifth {
            position: relative;
            width: 300px;
            margin-top: 32px;

            text-align: left;
        }

        &.purple {color: $purple;}
        &.yellow {color: $yellow}

        span { display: block; }
    }
}

.video {
    &--absolute {
        position: absolute;
        top: 55px;
        right: -190px;
    }

    &--cutted {
        max-width: 329px;
    }
}

/* PIES DE FOTO/VÍDEO */
.caption {
    display: block;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    opacity: .5;

    &--main {
        width: 258px;
        color: #fff;
    }

    //Imágenes del cuerpo
    &--first {
        color: #000;
        width: 250px;
        margin-left: 86px;
    }
    &--second {
        color: #000;
        width: 180px;
        margin-left: 86px;
    }
    &--third {
        color: #fff;
        width: 242px;
        margin-left: 86px;
    }
    &--fourth-one {
        color: #fff;
        width: 358px;
        margin-left: 86px;
    }
    &--fourth-two {
        color: #fff;
        width: 328px;
        margin-left: 86px;
    }
    &--fifth {
        color: #000;
        width: 337px;
        margin-left: 86px;
    }
    &--sixth {
        color: #000;
        margin-left: 86px;
    }
    &--mobile {
        display: none;
    }
}

/* FIRMAS */
.authors {
    //Disposición
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 720px;

    //Textos
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.9px;
    text-transform: uppercase;

    color: #a6a6a6;

    &--each {
        display: block;
        .charge {
            display: block;
            margin-bottom: 4px;
        }
        .name {
            display: block;
            font-weight: bold;
        }

        &.only-imac {display: none;}
    }            
}        

/* TEXTOS > Configuración y bloques */
.text {
    &__color {
        &--white {color: $white;}
        &--black {color: #000;}
        &--yellow {color: $yellow}
    }
    &__special {
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 29.8px;
        color: #fff;
        opacity: .5;
    }
    &__content {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 30.2px;
        letter-spacing: normal;
    }
    &__interview {
        &--title {
            //Texto
            font-size: 32px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 25.6px;
            letter-spacing: normal;
            text-transform: uppercase;

            margin-bottom: 24px;
            
            &.purple {color: $purple;}
            &.yellow {color: $yellow;}
        }
        &--question {
            font-weight: bold;
            .background--black & {color: $white;}
            .background--white & {color: #000;}            
        }
        &--answer {
            .background--black & {color: $white;}
            .background--white & {color: #000;}  
        }
    }
}

.capital-letter {
    font-size: 98px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: $yellow;
    letter-spacing: 1;
    display: block;
    transform: translate(-7.5px, 0px);
    height: 100px;
}

/* MEDIA CONTENT */
.capture {
    width: 100%;
    
    height: auto;

    display: flex;
    justify-content: center;

    &__first {
        max-height: 766px;
    }
    // &__second {
    //     max-height: 1804px;
    // }
    &__third {
        &--full {max-height: 650px;}
        &--half {max-height: 782px;}
    }
    // &__fourth {
    //     max-height: 1807px;
    // }
    &__fifth {
        max-height: 708px;
    }
    &__sixth {
        max-height: 769px;
    }
}    

/* CAPAS DE FONDO */
.background {
    &--black { background-color: $summary-color;}
    &--white { background-color: #fff;}
    &--purple { background-color: $theme-purple; }
    &--mix { //Hay varios tipos de mix en esta ocasión
        &-first {
            background: linear-gradient(180deg, $summary-color 50%, $white 50%);
        }
        &-second {
            background: linear-gradient(180deg, $summary-color 70%, $white 30%);
        }
        &-third {
            background: linear-gradient(180deg, $white 65%, $summary-color 35%);
        }
        &-fourth {
            background: linear-gradient(to bottom, $white 40%, $summary-color 40%);
        }
        &-fifth {
            background: linear-gradient(180deg, $summary-color 70%, $white 30%);
        }
        &-sixth {
            background: linear-gradient(to bottom, $white calc(51.65% - 100px), $black calc(51.65% - 100px), $black calc(53.65% - 100px), $theme-purple calc(53.65% - 100px));
        }
    }
}

/* FOOTER */
.footer{
    display: block;

    &__authors {        
        background: #000;
        width: 100%;
        .b-authors {
            box-sizing: border-box;
            width: 100%;
            max-width: 480px;
            margin: 0px auto;
            padding: 50px 0px 16px 0px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            /* Texto */
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.9px;
            text-align: left;
            color: #a6a6a6;
            text-transform: uppercase;

            .authors--each {
                width: 31%;
                margin-bottom: 34px;
                //Específicos del centro
                &.big {
                    width: 35%;
                }
                span {
                    margin-bottom: 4px;
                }
                .name {
                    font-weight: bold;
                }
            }
        }
    }
    
    &__credits {
        background: #19191b;
    	padding: 40px 0px;
        display: flex;
        justify-content: center;
        .brand{
            position: relative;
            width: auto;
    		height: auto;
        }
    }
}

.only-mobile {
    display: none;
}

//////
// Media queries > Este proyecto es desktop-first
//////
@media only screen and (max-width: 1920px) {
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/de39b6562d4668c347e4785961d4b57e/1620750346-apertura-1920.jpg)no-repeat center center;
            background-size: cover;
        }
        &__title {
            width: 501px;
            font-size: 80px;
            line-height: 0.84;
        }
        &__subtitle {
            width: 134px;
            font-size: 32px;
            line-height: 0.8;
        }
    }
}

@media only screen and (max-width: 1920px) and (max-height: 940px) {
    .header {
        &__title {
            position: absolute;
            left: 12%;
            bottom: 5%;

            width: 460px;
            font-size: 72px;
            line-height: 0.84;
        }
    
        &__subtitle {
            position: absolute;
            top: 7%;
            right: 13.5%;
        }
    
        &__firstCaption {
            position: absolute;
            top: 7%;
            left: 22.5%;
        }
    
        &__secondCaption {
            position: absolute;
            top: 30.5%;
            left: 17.5%;
        }
    }
}

@media only screen and (max-width: 1920px) and (max-height: 800px) {
    .header {
        &__title {
            position: absolute;
            left: 12%;
            bottom: 2%;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/bf7649deb707ac5bdd963cd4f7292a08/1620750428-apertura-1440.jpg)no-repeat center center;
            background-size: cover;
        }
        &__title {
            left: 26px;
            bottom: 8%;
        }
        &__subtitle {
            right: 72px;
        }
        &__firstCaption {
            left: 15%;
        }
        &__secondCaption {
            left: 10%;
        }
    }
}

@media only screen and (max-width: 1440px) and (max-height: 920px) {
    .header {
        &__title {
            left: 26px;
            bottom: 5%;

            width: 430px;
            font-size: 64px;
            line-height: 47px;
        }
        &__subtitle {
            right: 72px;
        }
        &__firstCaption {
            left: 15%;
        }
        &__secondCaption {
            left: 10%;
        }
    }
}

@media only screen and (max-width: 1440px) and (max-height: 800px) {
    .header {
        &__title {
            left: 26px;
            bottom: 32px;

            width: 400px;
            font-size: 56px;
            line-height: 47px;
        }
        &__subtitle {
            top: 32px;
            right: 72px;
        }
        &__firstCaption {
            top: 32px;
            left: 15%;
        }
        &__secondCaption {
            left: 10%;
        }
    }
}

@media only screen and (max-width: 1294px) { //Contenedor más ancho > Disponemos nuevos márgenes a partir de aquí
    //Contenedores
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        &--main {
            width: 100%;
            padding: 0px 16px;
        }

        &--authors {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            
            width: 100%;
            max-width: 1056px;
            margin: 0 auto;
            padding-bottom: 140px;
        }

        &--full-width {
            width: 100%;
        }
        &--text {
            max-width: 600px;
        }    
    }
}

@media only screen and (max-width: 1080px) {
    .margin {
        &__block {margin-bottom: 104px;}
    }   
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/89b6e5125c1ef293f6bdbd3e70bfe27b/1620752649-apertura-1080.jpg)no-repeat center center;
            background-size: cover;
        }
        &__title {
            width: 400px;
            font-size: 56px;
            line-height: 47px;
            left: 24px;
            bottom: 8%;
        }
        &__subtitle {
            width: 134px;
            font-size: 32px;
            line-height: 0.8;
            right: 34px;
        }
        &__firstCaption {
            left: 12.5%;
        }
        &__secondCaption {
            left: 7.5%;
        }
    }

    .content {
        &--authors {
            justify-content: space-between;
            padding-bottom: 104px;
        }
        &--custom {
            position: relative;
            margin: 0 auto;
            padding-bottom: 100px; //Aquí en vez de con las propiedades de margen
            &-first {
                width: 100%;
                max-width: 620px;
            }
            &-second {
                width: 100%;
                max-width: 810px;
            }
        }
    }

    .video {
        &--absolute {
            right: 0px;
            left: 400px;
        }
    }

    .caption {
        align-self: flex-start;
    }
    .authors {
        width: 430px;
        align-self: flex-end;
        flex-wrap: wrap;
        &--each {
            width: 33%;
            margin-top: 35px;
            &:nth-child(-n+3){margin-top: 40px;}
            &.only-imac {display: inherit;}
        }
    }
    .footer__authors {
        .b-authors {
            .authors--each {
                margin-top: 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 1080px) and (max-height: 820px) {
    .header {
        &__title {
            width: 380px;
            font-size: 48px;
        }
    }
}

@media only screen and (max-width: 993px) {
    .content--text {margin: 0 auto;}

    .content {
        &--custom {
            position: relative;
            margin: 0 auto;
            padding-bottom: 104px;
            &-second {
                width: 100%;
                max-width: none;
            }
            &-fifth {
                &-one {margin-right: 20px;}
            }
        }

        &--summary {
            font-size: 38px;
            line-height: 30.4px;
            word-break: break-word;
            &-first {            
                width: 286px;
            }
            &-second {
                width: 286px;
                margin-left: 32px;
            }
            &-third {
                width: 360px;
            }
            &-fourth {
                width: 286px;
            }
            &-fifth {
                width: 240px;
            }
        }
    }   

    .video {
        &--absolute {
            right: 0px;
            left: inherit;
        }
        &--cutted {
            width: 100%;
        }
    }

    .caption {
        display: block;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        opacity: .5;
    
        &--main {
            width: 258px;
            color: #fff;
        }
    
        //Imágenes del cuerpo
        &--fourth-one {
            color: #fff;
            width: 320px;
            margin-left: 32px;
        }
        &--fourth-two {
            color: #fff;
            width: 272px;
            margin-left: 32px;
        }
        &--fifth {
            color: #000;
            width: 337px;
            margin-left: 86px;
        }
        &--mobile {
            display: none;
        }
    }

    .background {
        &--mix { //Hay varios tipos de mix en esta ocasión
            &-first {
                background: linear-gradient(180deg, $summary-color 50%, $white 50%);
            }
            &-second {
                background: linear-gradient(180deg, $summary-color 70%, $white 30%);
            }
            &-third {
                background: linear-gradient(180deg, $white 65%, $summary-color 35%);
            }
            &-fourth {
                background: linear-gradient(to bottom, $white 40%, $summary-color 40%);
            }
            &-fifth {
                background: linear-gradient(180deg, $summary-color 80%, $white 20%);
            }
            &-sixth {
                background: linear-gradient(to bottom, $white calc(51.65% - 100px), $black calc(51.65% - 100px), $black calc(53.65% - 100px), $theme-purple calc(53.65% - 100px));
            }
        }
    }

    /* ASIDE > SOCIAL NETWORKS*/
    .share {
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
	.logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
    }
}

@media only screen and (max-width: 945px) { //Específico para elementos del header
    .header {
        &__title {
            left: 24px;
        }
        &__subtitle {
            top: calc(92% - 100px);
            right: 24px;
        }
        &__firstCaption {
            top: 60px;
            left: 10%;
        }
        &__secondCaption {
            left: 5%;
        }
    }
}

@media only screen and (max-width: 893px) {
    .content {
        &--summary {
            &-first {
                transform: translate(-40px, -75px);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .video {
        &--absolute {width: 50%;}
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 120vh;
        max-height: 1122px;
        &__content {
            background: url(https://www.ecestaticos.com/file/8014281b7d3a254f99b7fa4701b3b6eb/1620750558-apertura-tablet.jpg)no-repeat center center;
            background-size: cover;
        }
        &__title {
            font-size: 56px;
            width: 400px;
            bottom: 3.5%;
            right: 24px;
            left: calc(100% - 424px);
        }
        &__subtitle {
            right: 24px;
            top: 64px;
        }
        &__firstCaption {
            left: inherit;
            right: 24px;
            top: calc(96.5% - 462px);
        }
        &__secondCaption {
            top: 96.5%;
            left: 24px;
            z-index: 10;
        }
    }

    .margin-top__block, .margin-top__block-two {padding-top: 104px;}
    .margin-top__block-one {padding-top: 66px;}

    .content {
        &--authors {justify-content: flex-end; padding: 24px 8px 140px 8px;}
        &--text {margin: 0 auto;}
        &--summary {
            &-first {
                transform: translate(0px, -75px);
            }
        }

        &--summary {
            font-size: 38px;
            line-height: 30.4px;
            word-break: break-word;
            &-one, &-two {
                width: 100%;
                max-width: 286px;
            }
            &-third {
                width: 100%;
                max-width: 360px;
                transform: translate(32px, -110px);
            }
            &-fourth {
                width: 100%;
                max-width: 250px;
            }
            &-fifth {
                width: 100%;
                max-width: 230px;
            }
        }
    }

    img {
        width: 100%;
    }

    /* FOOTER */
    .only-mobile {
        display: block;
    }
    .hidden-mobile {display: none;}
    .only-ipad {display: block;}
    .footer__authors {
        .b-authors {
            box-sizing: border-box;
            padding: 40px 16px;
            .authors--each {
                width: 33%; 
                &.big {width: 33%;}
                &.flex-end {
                    // display: flex;
                    // justify-content: flex-end;
                    // div {
                    //     width: 126px;
                    // }
                }
            }
            //.authors--each:last-child {width: 100%; margin-bottom: 0px;}
        }
    }
}

@media only screen and (max-width: 693px) { //El responsive mobile de componentes lo iniciamos aquí
    .hidden-big-mobiles {display: none;}

    .caption {
        display: block;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        opacity: .5;
    
        &--main {
            width: 258px;
            color: #fff;
        }

        width: 100%;
    
        //Imágenes del cuerpo
        &--first {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--second {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--third {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--fourth-one {
            color: #000;
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--fourth-two {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--fifth {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--sixth {
            padding: 0px 16px;
            margin-left: 0px;
        }
        &--mobile {
            display: none;
        }
    }

    .margin-top__block-one, .margin-top__block-two {padding-top: 0px;}

    .content {
        &--summary {
            position: relative;
            text-align: left;
            margin: inherit;
                
            &-first {            
                width: 100%;
                padding: 0px 16px;           
                transform: translate(0, 0);
                margin-bottom: -15px;
            }
            &-second {
                position: relative;
                z-index: 10;
                width: 100%;
                padding: 0px 16px;
                margin-bottom: -15px;
            }
            &-third {
                width: 100%;
                max-width: none;
                padding: 0px 16px;
                transform: translate(0,0);
                margin-bottom: -15px;
            }
            &-fourth {
                width: 100%;
                max-width: none;
                padding: 0px 16px;
                align-self: flex-start;
                margin-bottom: -15px;
            }
            &-fifth {
                position: relative;
                width: 100%;
                max-width: none;
                padding: 0px 16px;
                margin-top: 0px;
                margin-bottom: -15px;               
            }
        }
        &--custom {
            &-fourth {
                flex-direction: column;

                div {width: 100%;}

                &-two {margin-top: 48px;}
            }

            &-fifth {
                flex-direction: column;

                div {width: 100%;}

                &-one {
                    order: 2;
                    margin-top: 48px;
                    margin-left: 0px;
                }
                &-two {
                    order: 1;
                    display: flex;
                    flex-direction: column;
                    video {
                        order: 2;
                    }
                    p {
                        order: 1;
                    }
                }
            }
        } 
    }

    .background {
        &--mix {
            &-fourth {
                background: linear-gradient(to bottom, $white 80%, $summary-color 20%);
            }
        }
    }

    .video {
        &--absolute {
            position: relative;
            top: inherit;
            left: inherit;
            right: inherit;
            width: 100%;
            margin-bottom: 24px;
        }
        &--cutted {
            margin: 0 auto;
            width: 100%;
        }
    }

    .text__interview--title {line-height: 32px;}
}

@media only screen and (max-width: 630px) {
    .hidden-small-mobile {visibility: hidden;}
}

@media only screen and (max-width: 525px) {
    .video{
        &--cutted {max-width: none; width: 100%;}
    }
}

@media only screen and (max-width: 500px) {
    .only-ipad {display: none;}
    .footer__authors {
        .b-authors {
            box-sizing: border-box;
            padding: 40px 16px;
            .authors--each {
                width: 50%; 
                &.big {width: 50%;}
                &.flex-end {
                    display: flex;
                    justify-content: flex-end;
                    div {
                        width: 126px;
                    }
                }
            }
            .authors--each:last-child {width: 100%; margin-bottom: 0px;}
        }
    }
}

@media only screen and (max-width: 425px) {    
    .header {
        width: 100%;
        height: 120vh;
        min-height: 1000px;
        max-height: none;
        &__content {
            background: url(https://www.ecestaticos.com/file/686950c696237751c71484163bea817b/1620901741-apertura-mobile-1.jpg)no-repeat center center;
            background-size: cover;
        }
        &__title {
            font-size: 48px;
            line-height: 40.3px;
            width: 300px;
            text-align: left;

            left: 24px;
            bottom: 6%;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 19.2px;
            width: 98px;
        }
        &__firstCaption {
            left: inherit;
            right: 24px;
            top: calc(96.5% - 442px);
        }
        &__secondCaption {
            top: 93%;
            left: 0px;
            z-index: 10;
        }
    }
}

@media only screen and (max-width: 375px) {
    .header {
        &__title {
            left: 12px;
        }
    }
}

@media only screen and (max-width: 330px) {
    .header {
        &__title {
            left: 4px;
        }
    }
}